body{
    background-color:black;
    color: white;
}
/* sayling the header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    list-style-type: none;
    background-color: black;
    color: white;

}
.left i{
    font-size: 20px;
    margin-right: 15px;
}
/* styling the left side */
.left{
font-size: 15px;
font-weight: bold;
text-decoration: none;
}
/* stayling the right side */
.right{
    display: flex;
    gap: 20px;
    font-size: 10px;
}
.section1 {
    display: flex;
}
.first-text{
    font-size: 30px;
}
.second-text{
    font-size: 30px;
    opacity: 0.5;
}
.container{
    padding-left: 200px;
    text-align: center;
    padding-top: 300px;
}
.thried-text{
    padding-top: 20px;
}
input{
    opacity: 0.8;
    width: 200px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #eedcdc;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: rgba(68, 43, 43, 0.068);
    color: #c0bbbb;
}
.forth-text{
    padding-top: 10px;
}

.icons{
    display: flex;
    justify-content: space-between;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
padding-left: 75em;
padding-bottom: 50px;
padding-right: 30px;

}
.icons a{
    color: white;
}
.forth-text{
    background-color:black;
}